*{font-family: 'Roboto';}
body{
	padding: 0;
	margin: 0 auto;
	
	width: 100%;
}
a{
	text-decoration: none;
}
p{
	padding: 0px;
	margin: 0px;
}

/*-------------------------------header--------------------------------------------------------   */
.header
{
	display: flex;
	flex-wrap: wrap;
	max-width: 85%;
	width: 100%;
	margin:0 auto;
	justify-content: space-around;
	height: 75px;
}
.header .logo
{
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    
}
.header .menu{
	display: flex;
    flex-wrap: wrap;
    max-width: 75%;
    width: 100%;
    justify-content: flex-end;
    font-size: 20px;
}
.header .menu nav ul{
	display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
}
.header .menu nav ul li{
	display: inline;
	padding: 0 10px;
}
.header .menu nav ul li a{
	color: black;
}


/*-------------------------------/header--------------------------------------------------------   */
/*-------------------------------slider--------------------------------------------------------   */
.slider{
	width: 100%;
	height: 500px;
	background-image: url('../img/img1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.slider .slider-data{
	text-align: center;
	max-width: 34%;
    margin: auto;
    padding-top: 200px;
    color: white;
}
/*-------------------------------/slider--------------------------------------------------------   */
/*-------------------------------product--------------------------------------------------------   */
.upper{
	font-size: 15px;
	text-align: center;
	display: block;
	width: 100%;
}
.upper h2{
	color: red;
}
.upper p{
	font-size: 13px;
	font-weight: bold;
}

.product-section{
	display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
}
.product-section .product{
	display: flex;
	flex-wrap: wrap;
	max-width: 20%;
    width: 100%;
    border: 1px solid #d4d4d4eb;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    height: 350px;
}
.product-section .product .image img{
	width: 100%;
	overflow: hidden;
	height: 175px;
}
.product-section .product .image{
	height: 160px;
	overflow: hidden;
	width: 100%;
}

.product-section .product .product-content{
	padding:0 15px;
	height: 120px;
}
.product-section .product .product-content h2{
	margin:  0px;
	padding: 0;	
}



/*-------------------------------/product--------------------------------------------------------   */
/*-------------------------------gallery--------------------------------------------------------   */
.gallery-section .upper h2{
	color: white;
	padding-bottom: 30px;
	
}
.gallery-section{
	padding: 20px;
	padding-bottom: 40px;
	width: 100%;
	background-color: #d77145;
}
.gallery{
	
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;

}
.gallery .img{
	max-width: 14.28%;
	margin: auto;
}
.gallery-section .gallery img{
	width: 100%;
	height: auto;
}
/*-------------------------------/gallery--------------------------------------------------------   */
/*-------------------------------footer--------------------------------------------------------   */
.footer{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	margin:0 auto;
	justify-content: space-around;
	background-color: black;
	
}
.footer .links{
	display: flex;
	flex-wrap: wrap;
	color: white;
	margin: auto;
	max-width: 80%;
	padding-top: 35px;
	padding-bottom: 35px;
	
}
.footer .links a{
	max-width: 14%;
	width: 100%;
	color: white;
	padding: 15px;
	text-align: center;
}
.footer .upper{
	background-color: #1d1d1d;
	
}
.footer .upper h2{
	color: white;
	padding: 20px;
}


/*-------------------------------/footer--------------------------------------------------------   */
/*-------------------------------786--------------------------------------------------------   */
@media  (max-width: 1024px)
{
	.product-section .product .product-content h2,
	.product-section .product .product-content p{
		margin:  0px;
		padding: 0;	

	}
	.product-section .product .product-content p{
		font-size: 13px;
	}
}

@media  (max-width: 768px)
{

	.header .menu nav ul{
		display: block;
	    padding-top: 0px;
	    justify-content: center;
	}
	.header .menu nav ul li{
		display: block;
		padding: 0 10px;
		font-size: 15px;
	}
		
	.slider{
		display: block;
		margin-top: 35px;
	}
	.slider-data h2{
		font-size: 20px;
	}

	.product-section .product {
		
	max-width: 35%;
    width: 100%;
    height: 300px;
    
	}
	.product-section .product .image{
		height: 175px;
		overflow: hidden;
		width: 100%;
	}
	.footer .links a{
		max-width: 25%;
		width: 100%;
		color: white;
		padding: 15px;
		text-align: center;
	}
	.upper h2{
		font-size: 20px;
	}
	.product-section .product .product-content h2,{
		font-size: 16px;
	}
	.product-section .product .product-content p{
		font-size: 13px;
	}
}
/*-------------------------------/786--------------------------------------------------------   */
/*-------------------------------425--------------------------------------------------------   */
@media  (max-width: 425px)
{
	.header
	{
		display: flex;
		flex-wrap: wrap;
		max-width: 85%;
		width: 100%;
		margin:0 auto;
		justify-content: end;
		height: 75px;
	}
	.header .menu{
		max-width: 50%;
	}
	.header .menu nav ul{
		display: block;
	    padding: 0px;
	    justify-content: space-around;
	}
	.header .menu nav ul li{
		display: block;
		padding: 0 ;
		font-size: 15px;
	}
	.upper h2 , .slider-data h2{
		font-size: 15px;
	}
		
	.slider{
		display: block;
		margin-top: 35px;
		height: auto;
	}
	.slider .slider-data{
		text-align: center;
		max-width: 60%;
	    margin: auto;
	    padding-top: 10px;
	    color: white;
	    font-size: 10px ;
	    padding-bottom: 50px;
	}
	.slider .slider-data p{
		padding: 0px;
	}


	.product-section .product {
		
	max-width: 75%;
    width: 100%;
    
	}
	.product-section .product .image{
		height: 175px;
		overflow: hidden;
		width: 100%;
	}

	.product-section .product .product-content{
		padding:0 15px;
		height: 120px;
	}
	.footer .links{
		justify-content: center;
	}
	.footer .links a{
		max-width: 30%;
		width: 100%;
		color: white;
		padding: 15px;
		text-align: center;
	}
	.product-section .product .product-content p{
		font-size: 10px;
	}
}
/*-------------------------------/425--------------------------------------------------------   */






/*-------------------------------slider--------------------------------------------------------   */
.slider-about{
	width: 100%;
	background-image: url('../img/img1.png');
	background-repeat: no-repeat;
	background-size: cover;
}
.slider-about .slider-about-data{
	text-align: center;
	max-width: 34%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}
/*-------------------------------/slider--------------------------------------------------------   */
/*-------------------------------aboutus--------------------------------------------------------   */
.abt-us{
	max-width: 45%;
	margin: auto;
	padding-top: 40px;
	padding-bottom: 80px;
}
.abt-us h2{
	font-size: 40px;
	color: black;
}
.abt-us p{
	font-size: 20px;
	font-weight: 400;
}
/*-------------------------------/aboutus--------------------------------------------------------   */
/*-------------------------------main body--------------------------------------------------------   */
.main-1
{
	display: flex;
    flex-wrap: wrap;
}
.main-1 .img-1{
	width: 50%;
    margin: auto;
}
.main-1  .img-1 img{
	width: 100%;
}
.data-1{
	width: 50%;
	background-color: #d77145;
	color: white;
}
.data-1 p, h2{
	padding-top: 20px;
	font-size: 20px;
	max-width: 70%;
	margin: auto;
}
.data-1 h2{
	padding-top: 35%;
}
/*-------------------------------/main body--------------------------------------------------------   */
/*-------------------------------768--------------------------------------------------------   */
@media  (max-width: 1024px)
{
	.data-1 p, h2{
		padding: 0px;
		font-size: 15px;
		max-width: 70%;
	}
	.data-1 h2{
		padding-top: 20%;
	}
}
@media  (max-width: 768px)
{
	.slider-about{
		display: block;
		margin-top: 35px;
	}
	.slider-about .slider-about-data{
		max-width: 70%;  
	}
	.slider-about-data h2{
		font-size: 20px;
	}
	.abt-us{
		max-width: 70%;
		
	}
	.abt-us h2{
		font-size: 20px;
	}
	.abt-us p{
		font-size: 15px;	
	} 
	.data-1 p, h2{
		padding: 0px;
		font-size: 13px;
		max-width: 70%;
	}
	.data-1 h2{

		padding-top: 25%;
	}
}
/*-------------------------------/758--------------------------------------------------------   */
/*-------------------------------425--------------------------------------------------------   */
@media  (max-width: 425px)
{
	.header .menu nav ul li{
		font-size: 11px;
	}
	.slider-about{
			margin-top: 15px;
	}
	.slider-about .slider-about-data{
		max-width: 88%;
		padding-top: 15px;
   		padding-bottom: 20px;
	}
	.slider-about-data h2{
		font-size: 15px;
	}
	.slider-about-data p{
		font-size: 11px;	
	}
	.abt-us{
		max-width: 70%;
		padding-top: 10px;
		padding-bottom: 50px;
	}
	.abt-us h2{
		font-size: 15px;
	}
	.abt-us p{
		font-size: 11px;	
	} 
	.data-1 p, h2{
		padding: 0px;
		font-size: 8px;
		max-width: 70%;
	}
	.data-1 h2{
		padding-top: 20%;
	}
}
@media  (max-width: 375px)
{
	.data-1 p, h2{
		padding: 0px;
		font-size: 7px;
		max-width: 70%;
	}
	.data-1 h2{
		padding-top: 20%;
	}

}
@media  (max-width: 320px)
{
	.data-1 p, h2{
		padding: 0px;
		font-size: 6px;
		max-width: 70%;
	}
	.data-1 h2{
		padding-top: 20%;
	}
	.footer .links a{
		max-width: 35%;
	}
	.header .menu{
		max-width: 45%;
	}
	.upper h2 , .slider-data h2{
		font-size: 13px;
	}
}
/*-------------------------------/425--------------------------------------------------------   */






/*----------------------------------mainbody--------------------------------------------------------*/
.main-body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.sidebar
{
	width: 30%;
	display: flex;
    flex-wrap: wrap;
}
.product-section2{
	width: 70%;
}
.product-section2 .product-card{
	max-width: 25%;
}
.sidebar ul li{
	list-style-type: none;	
	padding-bottom:  30px;
}
.sidebar .categories h3{
	font-size: 25px;
	padding-left: 20px ;
	padding-top: 50px;
	margin-top: 0;
}
.sidebar .tags h3{
	font-size: 25px;
	padding-left: 0px ;
	padding-top: 0px;
	margin-top: 0;
}
.sidebar ul li a{
	color: black;
	font-size: 20px;
}
.categories, .tags{
	width: 100%;
	display: block;
	text-align: center;
}
.sidebar .tags ul , .categories ul
{
	padding-inline-start: 0px;
	padding: 0px;
	margin: 0px;
}
.pager
{
	display: flex;
	flex-wrap: wrap;
	padding-left: 33%;
	padding-bottom: 40px;
}
.pager a
{
	padding:10px; 
	color: black;
	display: inline;
	list-style-type: none;
	border: 2px solid #e0e0e0;
	border-right: 0px;
	opacity: 0.5;
}
.pager a:last-child
{
	border-right: 2px solid #e0e0e0;
}
/*----------------------------------/mainbody--------------------------------------------------------*/
/*----------------------------------media query--------------------------------------------------------*/
@media (max-width: 1024px)
{
	.slider-about .slider-about-data 
	{
		max-width: 50%;
	}	
}
@media (max-width: 768px)
{
	.slider-about .slider-about-data 
	{
		max-width: 70%;
	}
	.sidebar
	{
		width: 20%;	
	}
	.sidebar ul li{
		padding-bottom:  30px;
	}
	.sidebar .categories h3{
		font-size: 20px;
		padding-left: 15px ;
	}
	.sidebar .tags h3{
		font-size: 20px;
	}
	.sidebar ul li a{
		color: black;
		font-size: 15px;
	}
	.product-section2{
		width: 80%;
	}
	.product-section .product {
		max-width: 35%;
	    width: 100%;
	    height: 300px; 
	}
	.pager
	{
		padding-left: 21%;
	}
}
@media (max-width: 425px)
{
	.main-body{
		display: block;
	}
	.sidebar{
		display: contents;
		font-size: 10px;
	}
	.categories ul li{
		display: inline-block;
	}
	.categories ul li a:after,
	.tags ul li a:after
	{
		content: " | ";
	}
	.tags ul li{
		display: inline-block;
	}
	.product-section2{
		width: 80%;
	}
	.product-section .product {
		max-width: 45%;
	    width: 100%;
	    height: 300px; 
	}
}
@media (max-width: 375px)
{
	.product-section .product {
		max-width: 80%;
	    width: 100%;
	    height: 300px; 
	}
}
/*----------------------------------/media query--------------------------------------------------------*/






/*----------------------------------Main product------------------------------------------------------*/
.mian-product-detail
{
	display: flex;
	flex-wrap: wrap;
	max-width: 80%;
	margin: auto;
}
.mian-product-detail .detail-images{
	width: 50%;
	display: flex;
	flex-wrap: wrap;
}
.mian-product-detail .detail-images .detail-big-image{
	width: 100%;
}
.mian-product-detail .detail-images .detail-big-image img{
	width: 100%;
}
.mian-product-detail .detail-images .detail-small-image{
	width: 20%;
}
.mian-product-detail .detail-images .detail-small-image img{
	width: 100%;
}
.small-detail{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.mian-product-detail .detail-data{
	padding-top: 20px;
	width: 40%;
}
.mian-product-detail .detail-data h1,
.mian-product-detail .detail-data h2,
.mian-product-detail .detail-data p{
	padding-left: 20px;
	margin: 0px;
}
.add-to-cart{
	margin-top: 65px;
	margin-left: 20px;
	padding: 10px 30px 10px 30px;
	font-size: 20px;
	color: white;
	background-color: #bb4637
}
/*----------------------------------/Main product------------------------------------------------------*/
/*----------------------------------media query------------------------------------------------------*/
@media (max-width: 1024px)
{
	.mian-product-detail .detail-data {
		width: 50%;
		font-size: 12px;
	}
	.mian-product-detail .detail-data h1{
		font-size: 16px;
	}
}
@media (max-width: 768px)
{
	.mian-product-detail .detail-images{
		display: block;
	}
	.mian-product-detail{
		margin-top: 45px;
	}
	.mian-product-detail .detail-data {
		width: 50%;
		font-size: 9px;
	}
	.mian-product-detail .detail-data h1,
	.mian-product-detail .detail-data h2{
		font-size: 13px;
	}
	.add-to-cart{
		margin-top: 18px;
	}
}
@media (max-width: 425px)
{
	.mian-product-detail {
	    margin-top: 20px;
	}
	.mian-product-detail {
		max-width: 85%;
	}
	.mian-product-detail {

		display: block;
		width: 100%;
	}
	.mian-product-detail .detail-images {
		width: 100%;
	}
	.mian-product-detail .detail-data {
	    width: 100%;
	    font-size: 12px;
	}
	.mian-product-detail .detail-data h1,
	.mian-product-detail .detail-data h2{
		font-size: 18px;
	}
	.add-to-cart {
    	margin-top: 18px;
    	margin-left: 25%;
    	margin-bottom: 20px;
	}
	.footer .links {
		font-size: 13px;
		max-width: 100%;
	}
}
/*----------------------------------/media query------------------------------------------------------*/







/*----------------------------------contact us------------------------------------------------------*/

iframe{
	width: 100%;
	height: 600px;
}
.feedback{
	max-width: 50%;
	width: 100%;
	margin: auto;
	margin-top: 35px;
    margin-bottom: 30px;
}
.feedback .fname{
	margin-top: 20px;
	width: 42%;
}
.feedback .lname{
	margin-top: 20px;
	width: 43%;
	margin-left: 25px;
}
.feedback .num {
	width: 94.5%;
}
.feedback .select
{
	width: 100%;
}
.feedback .submit-now
{
	margin-bottom: 20px;
}
.feedback .fname,
.feedback .lname,
.feedback .num ,
.feedback .select
{
	margin-top: 20px;
	padding: 20px;
	border: 2px solid black;
	font-size: 15px;
	
}
.submit-now{
	margin-top: 15px;
	margin-left: 40%;
	padding: 10px 30px 10px 30px;
	font-size: 20px;
	color: white;
	background-color: #d77145;
}
/*----------------------------------/contact us------------------------------------------------------*/
/*----------------------------------media query------------------------------------------------------*/
@media (max-width: 1440px)
{
	.feedback .fname{
		width: 41%;
	}
	.feedback .lname{
		width: 42%;
	}
}
@media (max-width: 1024px)
{
	.feedback .fname,
	.feedback .lname,
	.feedback .num ,
	.feedback .select
	{
		padding: 15px;
	}
	.feedback .lname{
		margin-left: 10px;
	}
	.feedback .fname{
		width: 41%;
	}
	.feedback .lname{
		width: 42%;
	}
	.feedback .num {
    	width: 92.5%;
	}
}

@media (max-width: 768px)
{
	.feedback .fname,
	.feedback .lname,
	.feedback .num ,
	.feedback .select
	{
		padding: 12px;
	}
	.feedback .lname{
		margin-left: 10px;
	}
	.feedback .fname{
		width: 40%;
	}
	.feedback .lname{
		width: 41%;
	}
	.feedback .num {
    	width: 91.5%;
	}
	.submit-now{
		margin-left: 30%;
		padding: 8px 28px 8px 28px;
		font-size: 18px;
	}
}
@media (max-width: 425px)
{
	.feedback{
		max-width: 70%;
	}
	.feedback .fname,
	.feedback .lname,
	.feedback .num ,
	.feedback .select
	{
		padding: 10px;
	}
	.feedback .lname{
		margin-left: 10px;
	}
	.feedback .fname{
		width: 37%;
	}
	.feedback .lname{
		width: 38%;
	}
	.feedback .num {
    	width: 91.5%;
	}
	.submit-now{
		margin-left: 30%;
		padding: 8px 28px 8px 28px;
		font-size: 18px;
	}
	iframe{
		height: 400px;
	}
}
@media (max-width: 320px)
{
	.feedback{
		max-width: 80%;
	}
	.submit-now{
		margin-left: 20%;
	}
	iframe{
		height: 400px;
	}
}
/*----------------------------------/media query------------------------------------------------------*/